<div class="container">
  <div id="navbar">
    <nav class="navbar navbar-inverse" role="navigation">
      <h1>Bitter</h1>

      <ul class="nav navbar-nav">
        <li>{{#link-to 'beets'}}Home{{/link-to}}</li>
        <li>{{#link-to 'beets'}}Notifications{{/link-to}}</li>
        <li>{{#link-to 'beets'}}Messages{{/link-to}}</li>
        <li>{{#link-to 'beets'}}#Discover{{/link-to}}</li>
      </ul>

    </nav>

  </div>

  {{outlet}}

</div>
